<form class="user-question-form" method="post" action="{% url 'index' %}">
    {% csrf_token %}

    {% if all_subjects_questions %}
        {% for subject_data in all_subjects_questions %}
            <div data-box = "{{subject_data.subject.name}}" class="subject-box  flex-column gp-15">
                <h3 class="subject-title">{{ subject_data.subject.name }}</h3>
            
                {% for question in subject_data.questions %}
                    <div class="question-box">
                        <div class="question-box-head flex-center">
                            <h4 class="small-box-head">Question {{ forloop.counter }}</h4>
                        </div>

                        <div class="question-text">
                            <p>{{ question.text }}</p>
                        </div>

                        <div class="answers-wrapper flex-column">
                            <div class="answers-container flex-column">
                                {% if question.diagram %}
                                    <img src="{{ question.diagram.url }}" alt="Diagram">
                                {% endif %}
                                {% for answer in question.answers.all %}
                                    <div class="answer-item">
                                        <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}" id="answer_{{ answer.id }}" class="check-answer"
                                        {% if user_answers.question.id == answer.id %} checked{% endif %}/>
                                        <label for="answer_{{ answer.id }}">{{ answer.text }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}

    <div class="user-question-btn-container flex-between">
        <button type="submit" class="answer-submit-btn">Submit Answers</button>
    </div>
</form>
