<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="acct.css">
    <title>Document</title>
</head>
<body>
    <div class = "page">
        <form class = "create-act-form flex-column">
            <h2 class = "create-act-head">CREATE ACCOUNT</h2>

                <input type = "text" placeholder="Name Of School" name = "school-name" class = "create-input"/>
                <input type = "text" placeholder="First Name" name = "first-name" class = "create-input"/>
                <input type = "text" placeholder="Last Name" name = "last-name" class = "create-input"/>
                <input type = "text" placeholder="Username" name = "username" class = "create-input"/>
                <input type = "password" placeholder="Password" name = "password" class = "create-input"/>
                <input type = "password" placeholder="Confirm Password" name = "confirm-password" class = "create-input"/>
            </div>

            <button class = "submit-btn" type = "submit">Submit</button>

            <a href=""></a>
        </form>
    </div>
</body>
</html>