<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="acct.css">
    <title>Document</title>
</head>
<body>
    <div class = "page">
        <form class = "login flex-column">
            <h2 class = "create-act-head">LOGIN</h2>

            <div class="input-wrapper flex-column">
                <input type = "text" placeholder="Username" name = "username" class = "create-input"/>
                <input type = "password" placeholder="Password" name = "password" class = "create-input"/>
            </div>

            <button class = "submit-btn" type = "submit">Submit</button>
        </form>
    </div>
</body>
</html>